$def with (todos, form)



 <div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
        <ul class="nav nav-tabs">
      <li >
        <a href="/">介绍</a>
      </li>
      <li class="active"><a href="/view">详情</a></li>
      <li><a href="#">...</a></li>
    </ul>
    
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            WTD
                        </th>
                        <th>
                            Actions
                        </th>
                       
                    </tr>
                </thead>
        $for todo in todos:
        <tr class="success">
            <td>$todo.title</td>
            <td>
                <form action="/del/$todo.id" method="post">
                <input type="submit" value="Delete"/>
                </form>
            </td>
        </tr>       
    </table>  
        </div>
    </div>
</div>


<form class="form-search" action="/add" method="post">
    I Need To： <input class="input-medium search-query" type="text" name="todo_name"/>
    <input type="submit" value="添加" class="button button-pill button-primary"/>
</form>  


<form action="" method="post">
$:form.render()
</form>


